.flightdetails{
    /* background-color: rgb(233, 236, 239); */
    margin: auto;
    min-height: 94vh;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.9;
}

.header{
    color: black;
    background-color:aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}

.left-head{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right-head{
    display: flex;
    align-items: center;
}

.login-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.login-icon h4{
    font-size: 18px;
    font-weight: 700;
}

.login-icon:hover{
    border-radius: 5px;
    background-color: rgb(169, 173, 177);
}

.main-body{
    /* border: 2px solid green; */
    border-radius: 5px;
    margin: 5px auto;
    min-width: none;
    min-height: 89.2vh;
    background-color:aliceblue ;
}

.main-body h2{
    color: black;
}

.boxes{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 90%;
}

.boxes .wps{
    border: 2px solid red;
    width: 12%;
    height: 10vh;
    margin: auto;
    cursor: pointer;
}

p{
    color: black;
    font-size: 18px;
}

